*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
}

body {
  background: rgb(14,7,60);background: linear-gradient(0deg, rgba(14,7,60,1) 30%, rgba(47,40,93,1) 48%, rgba(14,7,60,1) 89%);
 height: 100vh;
 display: flex;
 gap: 1rem;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.swiper {
  width: 95%;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;

  img{
    width: 100%;
    height: 100%;
  }
}


button{
  padding: 1rem 2rem;
  font-size: 14px;
  font-weight: 700;
  background:gold;
  border: none;
  outline: none;
  transition: all 500ms ease;

  &:hover{
    cursor: pointer;
    background: rgb(33, 16, 82);
    color: #fff;
  }

}

.hidden {
  display: none;
}

@media(width > 1200px){
  .swiper{
    width: 1200px;
    height: 800px;
  }
}
@media(width < 600px){
  .swiper{
    width: 95%;
  }
}